/* MOBILE PHONES ///////////////////////////////////////// */


.Page-container{
display: flex;

}
body{
    background-color: #EEEEEE ;
}
.Body-container{
    margin-left:30px;
    margin-bottom: 100px;
    position: relative;
    top:-20px;
 
}
.Navbar-container{
background-color: rgb(226, 112, 112);
height:50px;
width:100%;
display:flex;
justify-content: center;
align-items: center;
color:white;
font-size: 0.8em;
border-radius:10px 10px 0px 0px;
margin-bottom: 40px;
}
.globe-icon{
    margin-right: 10px;
    font-size: 0.8rem;
}
img{
    width:200px;
    height:300px;
    object-fit:calc();
    border-radius:5px 5px 5px 5px;
}

.title {
    position: relative;
    top:-40px;
}

.location-icon{
    color:rgb(255, 0, 0);
    font-size: 1rem;
    margin-right: 10px;
}
.day-visited{
    font-size: 1.2rem;
    font-weight: 550;
    font-size: 1rem;
    position: relative;
    top:-30px;
    
}
.description{
    line-height: 150%;
    position: relative;
    top:-20px;
    font-size:0.95rem;
}
.google-maps{
    font-size: 0.8rem;
    position: relative;
    display: flex;
    top:-32px;
    left:100px;
    color:rgb(83, 61, 61);
    width:130px;
}

.mode{
    position:relative;
    left:50px;
    display: flex;
}
.icon{
    font-size: 25px;
    margin-right: 5px;
}
.sun-icon{
    color:yellow;
}
.moon-icon{
    color:rgba(24, 23, 15, 0.933);
}
    .mode-button-darkMode{
       
        height: 25px;
        border-radius: 5px;
        background-color:rgba(24, 23, 15, 0.933); 
        color:cyan
    }
    .mode-button{
        height: 25px;
        border-radius: 5px;
        cursor: pointer;
    }
    


/* DESKTOP /////////////////////////////////// */

@media only screen and (min-width: 768px) {
    
img{
    width:400px;
    height:300px;
    object-fit:initial;
    border-radius:5px 5px 5px 5px;
}
.mode{
margin-left: 150px;
}

    
}


